name: Deploy

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Run a script
        run: |
          git config user.email "prateekshettybdmi@gmail.com"
          git config user.name "Prateek"
          git config remote.origin.url "https://${{ secrets.GHPAT }}@github.com/prateeks007/Portfolio_v2.git"
          npm install
          npm run deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GHPAT }}
          CI: false
